/*--------------- General style ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    --active-color: hsl(193, 38%, 86%);
    --normal-color: hsl(150, 100%, 66%);

    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Dark-Blue);
}

.container{
	text-align: center;
	background-color: var(--Dark-Grayish-Blue);
	display: inline-block;
	border-radius: 10px;
	color: var(--active-color);
	font-family: 'Manrope', sans-serif;
}

.dice {
    width: 3rem;
    height: 3rem;
    margin: 1rem auto -1.5rem auto;

    background-color: var(--normal-color);
    border-radius: 50%;
}

.dice img {
    margin: 0.7rem auto;
}

